In [1]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Algeriian.csv")
df.head()

,Bejaia Region Dataset,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
1,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
2,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
3,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
4,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bejaia Region Dataset  247 non-null    object
 1   Unnamed: 1             246 non-null    object
 2   Unnamed: 2             246 non-null    object
 3   Unnamed: 3             246 non-null    object
 4   Unnamed: 4             246 non-null    object
 5   Unnamed: 5             246 non-null    object
 6   Unnamed: 6             246 non-null    object
 7   Unnamed: 7             246 non-null    object
 8   Unnamed: 8             246 non-null    object
 9   Unnamed: 9             246 non-null    object
 10  Unnamed: 10            246 non-null    object
 11  Unnamed: 11            246 non-null    object
 12  Unnamed: 12            246 non-null    object
 13  Unnamed: 13            245 non-null    object
dtypes: object(14)
memory usage: 27.3+ KB

### **Data Cleaning:-**

In [4]:
df.isnull().sum()

Bejaia Region Dataset    1
Unnamed: 1               2
Unnamed: 2               2
Unnamed: 3               2
Unnamed: 4               2
Unnamed: 5               2
Unnamed: 6               2
Unnamed: 7               2
Unnamed: 8               2
Unnamed: 9               2
Unnamed: 10              2
Unnamed: 11              2
Unnamed: 12              2
Unnamed: 13              3
dtype: int64