## **Imbalenced Data set:-**

### **In classification problem**
#### **If we have 1000 data set**
#### **In which we have 900 yes value and 100 no value then we say that the ratio is 9:1**

### **This is totally Imbalenced data set**

### **This can be handled by two techniques**

## **1.Upsampling**
## **2.Down Sampling**

## **Data set creation:-**

In [28]:
import numpy as np
import pandas as pd

In [29]:
#Set the random seed for reproducibility
np.random.seed(123)
# Create a dataframe with two classes
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [30]:
n_class_0,n_class_1

(900, 100)

In [31]:
class_0=pd.DataFrame({
    "feature_1":np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature_2":np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
    
})
class_1=pd.DataFrame({
    "feature_1":np.random.normal(loc=2,scale=1,size=n_class_1),
    "feature_2":np.random.normal(loc=2,scale=1,size=n_class_1),
    "target":[1]*n_class_1
    
})

In [32]:
df=pd.concat([class_0,class_1]).reset_index(drop = True)

In [33]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [34]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## **1.Upsampling Case:-**

In [35]:
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [36]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [37]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

### **Perform Upsampling:-**

In [38]:
from sklearn.utils import resample

In [39]:
df_minority_upsample=resample(df_minority,
                              replace=True,#Sample with replacement
n_samples=len(df_majority),# to match the majority class
random_state=42

)

In [40]:
df_minority_upsample.shape

(900, 3)

In [41]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [42]:
df_minority_upsample["target"].value_counts()

target
1    900
Name: count, dtype: int64

In [43]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [44]:
df_upsampled["target"].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [45]:
df_upsampled.shape

(1800, 3)

In [ ]:
df.df_upsampled

## **2.Down sampling case:-**

In [46]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [47]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [48]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [49]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## Sample Without replacement
                              n_samples=len(df_minority), # to match the minority class)
                              random_state=42
                             )

In [50]:
df_majority_downsample.shape

(100, 3)

In [51]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [52]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64