## **Q1:-** 
### **correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.**

### **Ans:-**

In [333]:
import pandas as pd
import numpy as np

In [334]:
data = {
    'Study Hours': [2, 3, 1.5, 4, 2.5, 5, 3.5, 2, 1, 4.5],
    'Final Exam Scores': [85, 90, 78, 92, 88, 95, 89, 83, 75, 94]
}
df = pd.DataFrame(data)
df

   Study Hours  Final Exam Scores
0          2.0                 85
1          3.0                 90
2          1.5                 78
3          4.0                 92
4          2.5                 88
5          5.0                 95
6          3.5                 89
7          2.0                 83
8          1.0                 75
9          4.5                 94

In [335]:
df[["Study Hours","Final Exam Scores"]].corr(method="pearson")

                   Study Hours  Final Exam Scores
Study Hours           1.000000           0.949144
Final Exam Scores     0.949144           1.000000

## **Q2:-** 
### **Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.**

### **Ans:-**

In [336]:
import numpy as np
import pandas as pd

In [337]:
import pandas as pd
data = {
    'Hours of Sleep': [7, 6, 8, 5, 7.5, 6.5, 8.5, 6, 7, 9],
    'Job Satisfaction (1-10)': [8, 6, 9, 4, 7, 5, 9, 6, 8, 10]
}
df = pd.DataFrame(data)
df.head()

   Hours of Sleep  Job Satisfaction (1-10)
0             7.0                        8
1             6.0                        6
2             8.0                        9
3             5.0                        4
4             7.5                        7

In [338]:
df[["Hours of Sleep","Job Satisfaction (1-10)"]].corr(method="spearman")

                         Hours of Sleep  Job Satisfaction (1-10)
Hours of Sleep                 1.000000                 0.923081
Job Satisfaction (1-10)        0.923081                 1.000000

## **Q3:-**
### **Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.**

### **Ans:-**

In [339]:
import pandas as pd
import numpy as np

In [340]:
import random
random.seed(42)
exercise_hours = [random.uniform(1, 10) for _ in range(50)]
bmi = [random.uniform(18, 35) for _ in range(50)]
data = {
    'Exercise Hours per Week': exercise_hours,
    'BMI': bmi
}
df = pd.DataFrame(data)
df.head()

   Exercise Hours per Week        BMI
0                 6.754841  24.293076
1                 1.225097  21.561620
2                 3.475264  22.538623
3                 3.008897  33.923128
4                 7.628241  29.016602

In [341]:
print("Pearson correlation coefficient:-")
df[["Exercise Hours per Week","BMI"]].corr(method="pearson")

Pearson correlation coefficient:-

                         Exercise Hours per Week       BMI
Exercise Hours per Week                 1.000000 -0.067307
BMI                                    -0.067307  1.000000

In [342]:
print("Spearman's rank correlation:-")
df[["Exercise Hours per Week","BMI"]].corr(method="spearman")

Spearman's rank correlation:-

                         Exercise Hours per Week       BMI
Exercise Hours per Week                 1.000000 -0.067563
BMI                                    -0.067563  1.000000

## **Q4:-**
### **A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation  coefficient between these two variables.**

### **Ans:-**

In [343]:
import pandas as pd
import numpy as np

In [344]:
import random
random.seed(42)
tv_hours = [random.uniform(0, 6) for _ in range(50)]
physical_activity_level = [random.randint(1, 5) for _ in range(50)]
data = {
    'TV Hours per Day': tv_hours,
    'Physical Activity Level (1-5)': physical_activity_level
}
df = pd.DataFrame(data)
df.head()

   TV Hours per Day  Physical Activity Level (1-5)
0          3.836561                              3
1          0.150065                              3
2          1.650176                              2
3          1.339264                              3
4          4.418827                              1

In [345]:
print("Pearson correlation  coefficient:-")
df[["TV Hours per Day","Physical Activity Level (1-5)"]].corr(method="pearson")

Pearson correlation  coefficient:-

                               TV Hours per Day  Physical Activity Level (1-5)
TV Hours per Day                       1.000000                       0.053896
Physical Activity Level (1-5)          0.053896                       1.000000

## **Q5:-**
### **A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:**


#### Age(Years)    Soft drink Preference
#### 25            Coke
#### 42            Pepsi
#### 37            Mountain dew
#### 19            Coke
#### 31            Pepsi
#### 28            Coke

### **Ans:-**

In [346]:
import pandas as pd
import numpy as np

In [347]:
df=pd.DataFrame(
    {
        "Age(Years)":[25,42,37,19,31,28],
        "Soft drink Preference":["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]
    }
)
df

   Age(Years) Soft drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

In [348]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False)
encoded=encoder.fit_transform(df[["Soft drink Preference"]])
columns1=list(encoder.get_feature_names_out(["Soft drink Preference"]))
new_df= pd.DataFrame(encoded,columns=columns1)
encoded_df=pd.concat([df,new_df],axis=1)
encoded_df

C:\Users\Abhi\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Age(Years),Soft drink Preference,Soft drink Preference_Coke,Soft drink Preference_Mountain dew,Soft drink Preference_Pepsi
0,25,Coke,1.0,0.0,0.0
1,42,Pepsi,0.0,0.0,1.0
2,37,Mountain dew,0.0,1.0,0.0
3,19,Coke,1.0,0.0,0.0
4,31,Pepsi,0.0,0.0,1.0
5,28,Coke,1.0,0.0,0.0

In [349]:
encoded_df[["Age(Years)","Soft drink Preference_Coke","Soft drink Preference_Mountain dew","Soft drink Preference_Pepsi"]].corr()

,Age(Years),Soft drink Preference_Coke,Soft drink Preference_Mountain dew,Soft drink Preference_Pepsi
Age(Years),1.000000,-0.837240,0.394132,0.576439
Soft drink Preference_Coke,-0.837240,1.000000,-0.447214,-0.707107
Soft drink Preference_Mountain dew,0.394132,-0.447214,1.000000,-0.316228
Soft drink Preference_Pepsi,0.576439,-0.707107,-0.316228,1.000000

## **Q6:-**
### **A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.**

In [350]:
import numpy as np
import pandas as pd

In [351]:
import random
random.seed(42)
sales_calls_per_day = [random.randint(10, 30) for _ in range(30)]  # Random sales calls per day (between 10 and 30)
sales_per_week = [random.randint(1, 10) for _ in range(30)]  # Random sales per week (between 1 and 10)
data = {
    'Sales Calls per Day': sales_calls_per_day,
    'Sales per Week': sales_per_week
}
df = pd.DataFrame(data)
df.head()

   Sales Calls per Day  Sales per Week
0                   30               3
1                   13               7
2                   10               6
3                   18               5
4                   17               3

In [352]:
print("pearson correlation coefficient")
df[["Sales Calls per Day","Sales per Week"]].corr(method ="pearson")

pearson correlation coefficient

                     Sales Calls per Day  Sales per Week
Sales Calls per Day             1.000000       -0.303695
Sales per Week                 -0.303695        1.000000